In [2]:
import collections

import numpy as np
import pandas as pd
import matplotlib.pyplot as pp

%matplotlib inline 
# prints outputs driectly below the cell rather than in another tab or window

In [3]:
pd.options.display.max_rows = 6

In [11]:
dailyhire = pd.read_csv('tfl-daily-cycle-hires.csv', header = 5) 
#header determines where the column headers are in this case row 5

In [12]:
dailyhire.head
dailyhire.columns

Index(['Day', 'Number of Bicycle Hires', 'Unnamed: 2', 'Month',
       'Number of Bicycle Hires.1', 'Unnamed: 5', 'Year',
       'Number of Bicycle Hires.2', 'Unnamed: 8', 'Unnamed: 9', 'Month.1',
       'Average Hire Time (mins)', 'Unnamed: 12', 'Against last month',
       'Against last year'],
      dtype='object')

In [26]:
# Assistant
# Cleaning the Data

# First, let's handle the Year column properly
# Instead of filling with 0, let's use a more appropriate approach
# Option 1: Drop rows with NaN in Year column
dailyhire = dailyhire.dropna(subset=['Year'])

# Now convert Year to integer
dailyhire['Year'] = dailyhire['Year'].astype(int)

# For Month-Year conversion, we need to handle the format more carefully
# Using errors='coerce' will convert problematic dates to NaT (Not a Time)
# which we can then handle appropriately
dailyhire['Month-Year'] = pd.to_datetime(dailyhire['Month-Year'], errors='coerce')